/* Estilos para el footer */
footer {
    background-color: #1e1e1e;
    /* Fondo del footer */
    color: #fff;
    /* Texto blanco */
    padding: 0;
    /* Espaciado interno arriba y abajo */
    margin: 0;
    display: flex;
    justify-content: space-around;
    /* Espacio entre los items */
    align-items: center;
    /* Centra los items verticalmente */
    text-align: center;
    /* Centra el texto */
    box-sizing: border-box;
    /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

/* Estilos para las secciones dentro del footer */
footer .info,
footer .propiedad {
    flex: 1 1 200px;
    /* Ajusta el tamaño mínimo y crecimiento */
    text-align: center;
    margin: 0;
    /* Margen para separarlos */
}

/* Estilos para los logos dentro del footer */
footer .logos {
    display: flex; /* Utiliza flexbox para alinear los logos horizontalmente */
    justify-content: center; /* Centra los logos horizontalmente */
    align-items: center; /* Centra los logos verticalmente */
    gap: 20px; /* Añade espacio entre los logos */
    margin: 20px 0; /* Espaciado entre los logos y el resto del contenido */
}

/* Estilos para las imágenes dentro de los logos */
footer .logos img {
    max-width: 60px; /* Tamaño máximo de las imágenes */
    max-height: 60px; /* Tamaño máximo de las imágenes */
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
}

/* Estilos para los párrafos dentro del footer */
footer p {
    font-size: 16px;
    margin: 0;
    /* Espaciado vertical entre los párrafos */
}

footer i {
    font-size: 16px;
    margin-right: 0;
    /* Espacio entre el ícono y el texto */
}
