* {
  box-sizing: border-box; /* Asegurarse de que el tamaño del elemento incluye padding y borde */
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0f0f0f;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mantener al menos el 100% de la altura de la ventana */
}

header {
  text-align: center;
  background-color: #232323;
  border-bottom: 2px solid #fff;
  width: 100%; /* Asegúrate de que el header ocupe todo el ancho */
  padding: 0; /* Sin padding para evitar espacio interno */
}

.main-content {
  flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  max-width: 800px;
  margin: 20px auto; /* Esto se queda así para centrar el contenido */
}

header h1 {
  color: #fff;
}

nav {
  background-color: #1f1f1f;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #007bff;
  color: #fff;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav ul li:hover .sub-menu {
  display: block;
}

h2, h3 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: #d3d3d3;
}

button {
  background-color: #ff7043;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #f4511e;
  transform: scale(1.05);
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #3a3a3a;
  color: #eaeaea;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* src/components/footer.css */

.footer {
  background-color: #1a1a1a; /* Fondo oscuro */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
  border-radius: 10px; /* Bordes redondeados */
  width: 100%; /* Ancho completo */
  position: fixed; /* Posición fija */
  bottom: 0; /* Pegado al fondo */
}

.footer-text {
  color: #e0e0e0; /* Color del texto en gris claro */
  font-size: 1rem; /* Tamaño de fuente del texto */
  opacity: 0.8; /* Opacidad sutil */
}
