.page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    min-height: 100vh;
}

.aside-left,
.aside-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuye las secciones arriba, centro, y abajo */
    background-color: #131212;
    padding: 15px;
    border-radius: 8px;
}

.ad-section {
    background-color: #2222;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.ad-section h3 {
    margin-top: 0;
}

.main-content {
    width: 60%;
    background-color: #131212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}